.wrapper {
    max-height: calc(-60px + 100vh);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 224px;
    padding: 20px 0 26px 8px;
}
.avatar {
    border: 1px solid var(--text-color);
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 999px;
    cursor: pointer;
}
