.wrapper {
    width: 224px;
    padding: 20px 0 26px 8px;
}
.icon {
    margin-right: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    border: 1px solid var(--text-color);
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 999px;
    cursor: pointer;
    margin-right: 8px;
}
