.wrapper {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    width: var(--default-layout-width);
    margin-top: var(--header-height);
    justify-content: space-between;
    margin-top: 60px;
    max-width: 100%;
    padding-right: 24px;
    padding-left: 16px;
}
.content {
    flex: 1;
}
