.menu-list {
    width: 224px;
    .menu-item {
        margin-left: 0;
        justify-content: flex-start;
    }
}
.menu-popper {
    padding: 8px 0;
}
.menu-item {
    width: 100%;
    height: 41px;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.header {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: -8px;
}
.back-btn {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2rem;
    height: 100%;
    width: 50px;
}
.header-title {
}
