.wrapper {
    --border-radius-header: 92px;
    height: var(--default-layout-header-height, 60px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
    padding-right: 24px;
    padding-left: 16px;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search {
    position: relative;
    width: var(--search-width);
    height: 46px;
    background-color: #f1f1f2;
    border-radius: var(--border-radius-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    input {
        flex: 1;
        height: 100%;
        font-weight: 400;
        background: transparent;
        padding-left: 20px;
        line-height: 21px;
        color: rgb(22, 24, 35);
        caret-color: rgb(254, 44, 85);
        appearance: textfield;
        font-size: 1.6rem;
    }
    input:not(:placeholder-shown) ~ &-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &:hover {
        border-color: #e0e0e0;
    }
    &-result {
        padding-top: 8px;
        width: var(--search-width);
    }
    &-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        padding: 13px 12px 8px;
    }
    &-btn {
        width: 52px;
        height: 100%;
        color: rgba(184, 184, 184, 0.75);
        font-size: 1.85rem;
        caret-color: var(--primary);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-top-right-radius: var(--border-radius-header);
        border-bottom-right-radius: var(--border-radius-header);
        &::before {
            content: '';
            width: 1px;
            position: absolute;
            left: 0;
            bottom: 50%;
            translate: 0 50%;
            height: 28px;
            background: #ccc;
        }

        &:hover {
            background: #e0e0e0;
            color: rgba(22, 24, 35, 0.75);
        }
        &:active {
            background: #c9c7c7;
        }
    }
    &-clear,
    &-loading {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        right: calc(52px + 16px);
        font-size: 1.6rem;
        color: rgba(22, 24, 35, 0.34);
    }
}
.more-btn {
    min-width: 40px;
    font-size: 2rem;
    padding: 9px;
}
